body {
  font-family: 'Noto Serif', serif;
}

.dark {
  background-color: #262626;
}

.hidden {
  display: none;
}

.theme-button {
  position: fixed;
  right: 40px;
  top: 20px;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}


.theme-button img:last-child {
  position: fixed;
  right: 40px;
  top: 20px;
  border: none;
  display: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  color: yellow;
}

.select {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.news-list {
  display: grid;
  /*flex-direction: column;*/
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 150px auto;

}


.news-list div {
  border-radius: 8px;
  background-color: #e4e4e475;
  cursor: pointer;
  transition: 0.2s;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 6px 24px 0,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.dark .news-list div:hover {
  box-shadow:
    rgba(255, 255, 255, 0.26) 0 10px 36px 0,
    rgba(255, 255, 255, 0.06) 0 0 0 1px;
}

.news-list div:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0 10px 36px 0,
    rgba(0, 0, 0, 0.16) 0 0 0 1px;
}

.dark .news-list div {
  background-color: #ffffffd6;
}

.news-list div img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 200px;
}

.news-list p {
  padding: 17px;
  margin: 0;
}

.subcategories {
  display: grid;
  width: 70%;
  margin: 0 auto;
  transition: 0.2s;
}

/*.shown {*/
/*  display: grid;*/
/*  margin: -703px 0 0 225px;*/
/*}*/

.subcategories div {
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 6px 24px 0,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  transition: 0.3s;
}

.subcategories div:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0 10px 36px 0,
    rgba(0, 0, 0, 0.16) 0 0 0 1px;
  margin-left: 30px;
  margin-right: -30px;
}

.dark .subcategories div {
  background-color: #ffffffd6;
  outline-color: #262626;
}

.dark .subcategories div:hover {
  box-shadow:
    rgba(255, 255, 255, 0.26) 0 10px 36px 0,
    rgba(255, 255, 255, 0.16) 0 0 0 1px;
}

.return-button {
  width: 30px;
  height: 25px;
  margin: 120px 0 30px 250px;
  cursor: pointer;
  transition: 0.2s;
}

.return-button:hover {
  border: 2px solid cornflowerblue;
  border-radius: 50%;
  background-color: aliceblue;
  padding: 7px 5px;
  margin-bottom: 19px;
  margin-top: 113px;
  margin-left: 242px;
}